<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="BD_CONECTION" connectionString="User Id=TLMEXTR;Password=TLMEXTR;Server=TLMXOP.WORLD;Persist Security Info=True" providerName="System.Data.OracleClient"/>
    </connectionStrings>
    <appSettings>
        <add key="Encriptacion" value="OFF"/>
        <add key="ControlError" value="ON"/>
    </appSettings>
    
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
      <services>
          <service name="MATEO.Service.Wcf.Services.ServULDS">
              <endpoint name="WcfJsonService"
                        address=""
                        binding="webHttpBinding"
                        behaviorConfiguration="json"
                        contract="MATEO.Service.Wcf.ServicesContract.IServULDS"></endpoint>
          </service>
          <service name="MATEO.Service.Wcf.Services.ServVOLA">
              <endpoint name="WcfJsonService"
                        address=""
                        binding="webHttpBinding"
                        behaviorConfiguration="json"
                        contract="MATEO.Service.Wcf.ServicesContract.IServVOLA"></endpoint>
          </service>
       <service name="MATEO.Service.Wcf.Services.ServTRAC">
              <endpoint name="WcfJsonService"
                        address=""
                        binding="webHttpBinding"
                        behaviorConfiguration="json"
                        contract="MATEO.Service.Wcf.ServicesContract.IServTRAC"></endpoint>
          </service>
      </services>
    <behaviors>
        <endpointBehaviors>
            <behavior name="json">
                <webHttp/>
            </behavior>
        </endpointBehaviors>
      <serviceBehaviors>
        <behavior>
          <!-- Para evitar revelar información de los metadatos, establezca el valor siguiente en false antes de la implementación -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- Para recibir detalles de las excepciones en los fallos, con el fin de poder realizar la depuración, establezca el valor siguiente en true. Para no revelar información sobre las excepciones, establézcalo en false antes de la implementación -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        Para examinar el directorio raíz de la aplicación web durante la depuración, establezca el valor siguiente en true.
        Establézcalo en false antes de la implementación para evitar revelar información sobre la carpeta de aplicación web.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
